<div class="card horizontal">
    <div class="card-image">
        <img src="assets/img/user.jpg" class="responsive-img" alt="">
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <h3 class="blue-text">Hello</h3>
            <h2>I'm <b>Marek Marusic</b></h2>
            <h5><i>Software Developer</i></h5>
            <p>My first contact with development was during my elementary school when I was trying out some HTML and CSS. Then during my high school I started to learn PHP, MySQL and C from books my father bought me.</p>
        </div>
        <div class="card-action center">
            <a href="#" class="btn btn-large waves-effect blue">Download CV</a>
            <a href="mailto:marek.marusic@gmail.com" class="btn btn-large waves-effect blue">Contact Me</a>
        </div>
    </div>
</div>