<div class="card horizontal">
    <div class="card-image">
        <img src="assets/img/user.jpg" class="responsive-img" alt="">
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <h3 class="blue-text">Hello</h3>
            <h2>I'm <b>{{site.username}}</b></h2>
            <h5><i>{{site.profession}}</i></h5>
            <p>{{site.aboutMe}}</p>
        </div>
        <div class="card-action center">
            <a href="#" class="btn btn-large waves-effect blue">Download CV</a>
            <a href="mailto:marek.marusic@gmail.com" class="btn btn-large waves-effect blue">Contact Me</a>
        </div>
    </div>
</div>