<section class="row author valign-wrapper">
  <div class="col s12 m12">
    <div class="col s12 m4 author-img-wrapper l4">
      <img itemprop="image" src="{{site.userPhoto}}" alt="{{site.name}}" class="circle author-img responsive-img">
    </div>
    <div class="col s12 m7 author-info">
      <h5 class="">Author</h5>
      <h3 class="white-text author-name">{{ site.username }}</h3>
      <p class="white-text author-description">{{ site.user_description }}</p>
      <div class="contact-info">
        <a href="https://github.com/{{site.github_username}}" class="social-media-icon" target="_blank">
          <div class="github-btn btn-socials btn-socials-bigger btn-blue">
          </div>
        </a>
        <a href="https://www.facebook.com/{{site.fb_username}}" class="social-media-icon" target="_blank">
          <div class="fb-btn btn-socials btn-socials-bigger btn-blue">
          </div>
        </a>
        <a href="https://twitter.com/{{site.twitter_username}}" class="social-media-icon" target="_blank">
          <div class="twitter-btn btn-socials btn-socials-bigger btn-blue">
          </div>
        </a>
        <a href="https://www.instagram.com/{{site.instagram_username}}" class="social-media-icon" target="_blank">
          <div class="instagram-btn btn-socials btn-socials-bigger btn-blue">
          </div>
        </a>
        <a href="https://www.linkedin.com/in/{{site.linkedin_username}}" class="social-media-icon" target="_blank">
          <div class="linkedin-btn btn-socials btn-socials-bigger btn-blue">
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

