<!--Experience-->
<h3 class="header"><i class="small material-icons">school</i> Education</h3>
<div class="card">
    <div class="card-content">
        <div class="block">
            <h5>Bachelor of Computer Science</h5>
            <p class="helping-text"><i class="material-icons light-blue-text text-darken-3 tiny">place</i> <a href="http://vutbr.cz/">Brno University of Technology</a> <i class="material-icons light-blue-text text-darken-3 tiny">today</i> 2013 - 2016</p>
            <p>Through a government sponsored program called <a href="http://www.iie.org/programs/brazil-scientific-mobility">Brazil Scientific Mobility Program</a>, I had the opportunity to study a whole academic year in the USA with a full scholarship. After completion of the academic year, the goal is to return to Brazil to complete my degree and transfer the knowledge along my experiences acquired in the country.</p>
        </div>

        <div class="block">
            <h5>Bachelor of Computer Science</h5>
            <p class="helping-text"><i class="material-icons light-blue-text text-darken-3 tiny">place</i> <a href="http://vutbr.cz/">Brno University of Technology</a> <i class="material-icons light-blue-text text-darken-3 tiny">today</i> 2013 - 2016</p>
            <p>Through a government sponsored program called <a href="http://www.iie.org/programs/brazil-scientific-mobility">Brazil Scientific Mobility Program</a>, I had the opportunity to study a whole academic year in the USA with a full scholarship. After completion of the academic year, the goal is to return to Brazil to complete my degree and transfer the knowledge along my experiences acquired in the country.</p>
        </div>
    </div>
</div>
<!--End Experience-->