<!--Experience-->
<h3 class="header"><i class="small material-icons">card_travel</i> Experience</h3>
<div class="card">

    <div class="card-content">
        <div class="block">
            <h5>Associate Software Engineer</h5>
            <p class="helping-text"><i class="material-icons light-blue-text text-darken-3 tiny">place</i>
                Red Hat <i class="material-icons light-blue-text text-darken-3 tiny">today</i> January 2018 -
                Present</p>
            <p>As a part of JBoss Middleware Runtimes Sustaining Engineering team my responsibilities are development of new features
                and bug fixes in various components of JBoss products and tools (using Java and Java EE) and mentoring interns in our team.
            </p>
        </div>
    </div>

    <div class="card-content">
        <div class="block">
            <h5>Software Engineering Internship</h5>
            <p class="helping-text"><i class="material-icons light-blue-text text-darken-3 tiny">place</i>
                Red Hat <i class="material-icons light-blue-text text-darken-3 tiny">today</i> April 2017 -
                December 2017</p>
            <p>I work as an intern in JBoss Sustaining Engineering Team. I mainly work with Java and Java EE technologies.
                My job is to contribute to the JBoss projects and our tools for release coordination.</p>
        </div>
    </div>

    <div class="card-content">
        <div class="block">
            <h5>Software Developer</h5>
            <p class="helping-text"><i class="material-icons light-blue-text text-darken-3 tiny">place</i>
                Artin <i class="material-icons light-blue-text text-darken-3 tiny">today</i> February 2017 -
                March 2017 (2m)</p>
            <p>As a part time employee I did a SW development using Java EE, Hibernate and Wicket technologies.</p>
        </div>
    </div>

    <div class="card-content">
        <div class="block">
            <h5>Software Quality Assurance Internship</h5>
            <p class="helping-text"><i class="material-icons light-blue-text text-darken-3 tiny">place</i>
                Red Hat <i class="material-icons light-blue-text text-darken-3 tiny">today</i> August 2014 -
                March 2017 (2y 8m)</p>
            <p>As a member of a QE BaseOS Security team my main responsibility was a development of various automatic tests, libraries and tools in Bash, Python and C for security components of RHEL.</p>
        </div>
    </div>

    <div class="card-content">
        <div class="block">
            <h5>Web Developer & Maintainer</h5>
            <p class="helping-text"><i class="material-icons light-blue-text text-darken-3 tiny">place</i>
                Zebrahracky.sk <i class="material-icons light-blue-text text-darken-3 tiny">today</i> Jun 2013 -
                December 2014 (1y 6m)</p>
            <p>As a part time employee I used Opencart platform which I modified to match the needs of my employer.
                I used PHP, HTML, Javascript and SQL technologies. I deployed the web and after that I did continuous support of the web
                to meet employer's needs.</p>
        </div>
    </div>
</div>
<!--End Experience-->