<!--Experience-->
<h3 class="header"><i class="small material-icons">card_travel</i> Experience</h3>
<div class="card">
    <div class="card-content">
        <div class="block">
            <h5>Software Engineer</h5>
            <p class="helping-text"><i class="material-icons light-blue-text text-darken-3 tiny">place</i>
                Loepfe Brothers (Switzerland) <i class="material-icons light-blue-text text-darken-3 tiny">today</i> October 2019 - Present</p>
            <strong>CI/CD</strong>
            <p>• Became the team’s expert for CI/CD topics and MS Azure pipelines.</p>
            <p>• Streamlined pipeline setup for new projects by standardizing the release process and creating templates.</p>
            <p>• Decreased regressions in new releases of 5 projects by driving the redesign of the existing release processes and implementing trunk-based development.</p>
            <p>• Improved code quality by driving the definition of Coding Guidelines and integrating it into CI pipelines.</p>
            <strong>IoT</strong>
            <p>• Mastered the Azure IoT platform and implemented an end-to-end solution in 5 months using the C#, IoT Edge, CosmosDB, and PowerBi, which is now deployed at 2 customers for evaluation.</p>
            <p>• Saved numerous trips to the field by implementing machine simulators that can run in a Docker container.</p>
            <p>• Improved maintainability by decoupling the new .NET IoT client app from the legacy app and implementing an IPC between them.</p>
            <strong>Kubernetes</strong>
            <p>• Created dev, qa, and prod environments for 3 projects by setting up Kubernetes clusters with infrastructure as code using Terraform.</p>
            <p>• Introduced Fluent Bit for logging and metrics forwarding to Elasticsearch.</p>
            <p>• Reduced our costs for Elasticsearch by decreasing the hot storage and moving older data to the cold storage.</p>
            <strong>General</strong>
            <p>• Supported new colleagues with the understanding of our existing projects by organizing 10 knowledge-sharing sessions and providing technical advice daily.</p>
            <p>• Taught about advanced details of our software products at 2 seminars for our customer support.</p>
            <p>• Increased traceability of produced devices by creating a system with OpenAPI, MongoDB, and Angular.</p>
            <p>• Implemented 90 features in C# used daily on more than 25000 textile winding machines across the world.</p>
        </div>
    </div>

    <div class="card-content">
        <div class="block">
            <h5>Associate Software Engineer</h5>
            <p class="helping-text"><i class="material-icons light-blue-text text-darken-3 tiny">place</i>
                Red Hat (Czechia) <i class="material-icons light-blue-text text-darken-3 tiny">today</i> January 2018 - September 2019</p>
            <p>• As a part of JBoss Middleware Runtimes Sustaining Engineering team my responsibilities are development of new features
                and bug fixes in various components of JBoss products and tools (using Java and Java EE) and mentoring interns in our team.
            </p>
            <p>• Contributed more than 60 PRs to various Open-source projects such as Wildfly, Quarkus.io, RESTEasy.</p>
            <p>• Optimized data pre-processing time by 30% and memory use by more than 50% of our NLP models and prepared a Docker image with GPU support so that they can be developed and run on developer’s machines.</p>
            <p>• Decreased query parameter processing time in RESTEasy framework by 1300x by debugging and fixing performance issues.</p>
            <p>• Built features to obtain SSL certificates from Let’s Encrypt and improved the user experience of CLI in the JBoss EAP.</p>
        </div>
    </div>

    <div class="card-content">
        <div class="block">
            <h5>Software Engineering Internship</h5>
            <p class="helping-text"><i class="material-icons light-blue-text text-darken-3 tiny">place</i>
                Red Hat (Czechia) <i class="material-icons light-blue-text text-darken-3 tiny">today</i> April 2017 -
                December 2017</p>
            <p>• I worked as an intern in JBoss Sustaining Engineering Team. I mainly work with Java and Java EE technologies.
                My job was to contribute to the JBoss projects and our tools for release coordination.</p>
        </div>
    </div>

    <div class="card-content">
        <div class="block">
            <h5>Software Quality Assurance Internship</h5>
            <p class="helping-text"><i class="material-icons light-blue-text text-darken-3 tiny">place</i>
                Red Hat (Czechia) <i class="material-icons light-blue-text text-darken-3 tiny">today</i> August 2014 -
                March 2017 (2y 8m)</p>
            <p>• As a member of a QE BaseOS Security team my main responsibility was a development of various automatic tests, libraries and tools in Bash, Python and C for security components of RHEL.</p>
        </div>
    </div>

    <div class="card-content">
        <div class="block">
            <h5>Web Developer & Maintainer</h5>
            <p class="helping-text"><i class="material-icons light-blue-text text-darken-3 tiny">place</i>
                Zebrahracky.sk (Slovakia) <i class="material-icons light-blue-text text-darken-3 tiny">today</i> Jun 2013 -
                December 2014 (1y 6m)</p>
            <p>As a part time employee I used Opencart platform which I modified to match the needs of my employer.
                I used PHP, HTML, Javascript and SQL technologies. I deployed the web and after that I did continuous support of the web
                to meet employer's needs.</p>
        </div>
    </div>
</div>
<!--End Experience-->