
    <footer class="page-footer blue">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">{{site.username}}</h5>
                    <p class="grey-text text-lighten-4">Software Developer</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/">About Me</a></li>
                        <li><a class="grey-text text-lighten-3" href="/blog">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright Marek Marusic
                <a href="https://github.com/{{site.github_username}}" class="social-media-icon right" target="_blank">
                    <div class="github-btn btn-socials btn-socials-smaller btn-blue">
                    </div>
                </a>
                <a href="https://www.linkedin.com/in/{{site.linkedin_username}}" class="social-media-icon right" target="_blank">
                    <div class="linkedin-btn btn-socials btn-socials-smaller btn-blue">
                    </div>
                </a>
            </div>
        </div>
    </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script src="{{ "/assets/js/vendor/masonry.pkgd.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/init.js" | prepend: site.baseurl }}"></script>
  {% include stats.html %}
 </body>
</html>

