<!--Skills-->
{% assign skills_proficient = "C#, Python, SQL, Docker, Azure Cloud, Git" | split: ' ' %}
{% assign skills_prior_exp = "Java, Linux, TypeScript, Angular, Kubernetes, Terraform, Keras, C/C++" | split: ' ' %}
<h3 class="header">My Skills</h3>
<div class="card">
    <div class="card-content">
        <h5>Proficient: </h5>
        <p>
            {% for skill in skills_proficient %}    
                {{ skill }}
            {% endfor %}
        </p>
        <h5>Prior experience: </h5>
        <p>
            {% for skill in skills_prior_exp %}
                {{ skill }}
            {% endfor %}
        </p>
        <h5>I have also worked with these technologies:</h5>
        <p>OpenMPI, OpenMP, OpenCV, Nette, Wicket, Maven, Express.js, LaTeX, Kotlin, Go, Socket.io, PaperJS, MySQL, PL/SQL, PostgreSQL, GWT.</p>
    </div>
</div>
<!--End Skills-->